[submodule "themes/even"]
	path = themes/even
	url = https://github.com/TosakaUCW/hugo-theme-even.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
